.navbar {
  background-color: #0b0051;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 1rem;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.navbar-links__item {
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links__item:link {
    color: #69F6D0;
}
  
.navbar-links__item:visited {
    color: #69F6D0;
}
