.projects {
  display: flex;
  color: #69F6D0;
}

.projects-item {
  width: 30%;
  margin: 5rem auto;
  text-align: center;
}

.projects-item__image {
  width: 100%;
  border-radius: 7px; 
}

.projects-item__repo:link {
  text-decoration: none;
  color: #69F6D0;
}

.projects-item__repo:visited {
  color: #69F6D0;
}